1. Importar librerías

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt

2. Importar un dataset (tener en cuenta el separador a utilizar debe ser: ";")

In [4]:
dp = pd.read_csv("ds_gastos.csv", sep = ",")

3) Imprimir las 5 primeras y ultimas filas

In [5]:
dp.head(5)
dp.tail(5)

         Fecha Concepto    monto
66  29/01/2023  viveres     0,72
67  30/01/2023   comida        1
68  30/01/2023  viveres     0,58
69  30/01/2023  viveres      0,4
70         NaN      NaN  1407,27

4) Imprimir las dimensiones del dataset

In [4]:
print(dp.shape)

(71, 3)

5) Obtener la totalidad de registros por columnas

In [5]:
dp.count()

Fecha       70
Concepto    70
monto       71
dtype: int64

6) Analizar el tipo de dato de cada columna

In [6]:
dp.dtypes

Fecha       object
Concepto    object
monto       object
dtype: object

7) Obtener el tipo de estructura del dataset.  Ej: si es o no un DataFrame

In [7]:
type(dp)

pandas.core.frame.DataFrame

8) Listar los nombres de las columnas

In [8]:
print(dp.columns)

Index(['Fecha', 'Concepto', 'monto'], dtype='object')

9. Eliminar las columnas o columnas:

In [11]:
dp.drop([70], axis=0, inplace=True)
dp.count()

Fecha       70
Concepto    70
monto       70
dtype: int64

10) Verificar la correcta eliminacion de las columnas con la funcion head()

In [12]:
dp.head(5)

       Fecha Concepto  monto
0  1/01/2023  viveres   4,18
1  2/01/2023  viveres   3,36
2  2/01/2023  viveres   9,86
3  2/01/2023   comida    5,5
4  3/01/2023  viveres  13,75

11) Determinar cuántos valores faltantes hay en cada columna

In [13]:
#dp.isnull()
dp.isnull().sum()

Fecha       0
Concepto    0
monto       0
dtype: int64

In [ ]:
##Reemplazar valores con espacio en blanco:
#dp["Salary"] = dp["Salary"].replace({'B':''}, regex=True)
#dp["Salary"] = dp["Salary"].replace({'\$':''}, regex=True)
#Convertir y verificar los tipos: 
dp['monto'] = dp['monto'].astype('float64')
dp['monto'].dtype

12) Obtener las principales medidas estadística del dataset con su correspondiente interpretación

In [15]:
dp.describe()

             Fecha Concepto monto
count           70       70    70
unique          26        7    63
top     22/01/2023  viveres  1,01
freq             6       32     3

13) Crear y agregar al dataset la variable **"ratio_recovered"** la cual se obtiene al dividir la columna Recovered/Confirmed

In [28]:
def new_func():
    #ratio_recovered = Recovered/Confirmed

new_func()

14) Crear y agregar al dataset la variable **"ratio_death"** la cual se obtiene al dividir la columna Deaths/Confirmed

Aclaración: Tanto para la variable **ratio_recovered** como asi también para la variable **ratio_death**, no es necesario realizar ningún tratamiento de dato para los valores **na**. Esto quiere decir, que únicamente se contempla la creación de las mismas.

In [29]:
#ratio_death = Recovered/Confirmed

15) Obtener e interpretar las distintas correlaciones de variables dentro del dataset

In [30]:
###Completar

Graáficos