ImportError: Missing optional dependency 'pyarrow.orc'.  Use pip or conda to install pyarrow.orc.

Esto no funcionará en windows.  te recomendamos usar Linux en una Máquina Virtual.  En esta carpeta te dejamos un tutoríal de la instalación.

https://pandas.pydata.org/docs/getting_started/install.html#install-warn-orc

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

In [ ]:
!pip install pandas==1.2.0 --user

In [ ]:
pd.__version__

Para archivos ORC y Parquet se neceita un motor para importarlos a un PandasDataframe

engine{‘auto’, ‘pyarrow’, ‘fastparquet’}, default ‘auto’

In [3]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\julia\anaconda3\lib\site-packages (5.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\julia\anaconda3\lib\site-packages (from pyarrow) (1.20.1)

In [4]:
import pandas as pd
from pyarrow import orc

ModuleNotFoundError: No module named 'pyarrow._orc'

In [5]:
orcDf =pd.read_orc('userdata2_orc')
orcDf.head()

ImportError: Missing optional dependency 'pyarrow.orc'.  Use pip or conda to install pyarrow.orc.

In [5]:
orcDf.dtypes

_col0     datetime64[ns]
_col1            float64
_col2             object
_col3             object
_col4             object
_col5             object
_col6             object
_col7             object
_col8             object
_col9             object
_col10           float64
_col11            object
_col12            object
dtype: object

Importar Parquet

https://anson.ucdavis.edu/~clarkf/

In [10]:
parquetDf = pd.read_parquet('ejemploParquet.parquet', engine='auto')
parquetDf.head()

,timeperiod,flow1,occupancy1,speed1,flow2,occupancy2,speed2,flow3,occupancy3,speed3,...,speed5,flow6,occupancy6,speed6,flow7,occupancy7,speed7,flow8,occupancy8,speed8
0,05/30/2016 00:00:04,4,0.03,71.0,6,0.04,71.0,3,0.03,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,05/30/2016 00:00:34,9,0.05,71.0,9,0.05,78.0,3,0.02,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,05/30/2016 00:01:04,1,0.00,78.0,2,0.01,78.0,2,0.01,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,05/30/2016 00:01:34,3,0.02,71.0,2,0.01,78.0,1,0.01,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05/30/2016 00:02:04,1,0.01,71.0,2,0.01,71.0,2,0.01,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
parquetDf.dtypes

timeperiod     object
flow1           int32
occupancy1    float64
speed1        float64
flow2           int32
occupancy2    float64
speed2        float64
flow3           int32
occupancy3    float64
speed3        float64
flow4         float64
occupancy4    float64
speed4        float64
flow5         float64
occupancy5    float64
speed5        float64
flow6         float64
occupancy6    float64
speed6        float64
flow7         float64
occupancy7    float64
speed7        float64
flow8         float64
occupancy8    float64
speed8        float64
dtype: object

Vamos a exportar a Pickel y e importarlo de nuevo

Loading pickled data received from untrusted sources can be unsafe.

In [16]:
orcDf.to_pickle('ejemploPickel.pkl')

In [19]:
PickleDf = pd.read_pickle('ejemploPickel.pkl')
PickleDf.head()

,_col0,_col1,_col2,_col3,_col4,_col5,_col6,_col7,_col8,_col9,_col10,_col11,_col12
0,2016-02-03 13:36:39,1.0,Donald,Lewis,dlewis0@clickbank.net,Male,102.22.124.20,,Indonesia,7/9/1972,140249.37,Senior Financial Analyst,
1,2016-02-03 00:22:28,2.0,Walter,Collins,wcollins1@bloglovin.com,Male,247.28.26.93,3587726269478025,China,,NaN,,
2,2016-02-03 18:29:04,3.0,Michelle,Henderson,mhenderson2@geocities.jp,Female,193.68.146.150,,France,1/15/1964,236219.26,Teacher,
3,2016-02-03 13:42:19,4.0,Lori,Hudson,lhudson3@dion.ne.jp,,34.252.168.48,3568840151595649,Russia,4/22/1988,NaN,Nuclear Power Engineer,
4,2016-02-03 00:15:29,5.0,Howard,Miller,hmiller4@fema.gov,Male,103.193.150.230,3583473261055014,France,11/26/1998,50210.02,Senior Editor,

In [21]:
PickleDf.dtypes

_col0     datetime64[ns]
_col1            float64
_col2             object
_col3             object
_col4             object
_col5             object
_col6             object
_col7             object
_col8             object
_col9             object
_col10           float64
_col11            object
_col12            object
dtype: object