In [ ]:
!pip install requests

In [1]:
import requests

http://api.open-notify.org/
https://api.nasa.gov/

In [2]:
import pandas as pd

In [3]:
response = requests.get("http://api.open-notify.org/iss-now.json")
response.json()

{'iss_position': {'latitude': '-29.8730', 'longitude': '82.6518'},
 'message': 'success',
 'timestamp': 1635100528}

In [4]:
pd.json_normalize(response.json())

   message   timestamp iss_position.latitude iss_position.longitude
0  success  1635100528               -29.873                82.6518

In [6]:
response = requests.get("http://api.open-notify.org/astros.json")
response.json()

{'number': 10,
 'people': [{'craft': 'ISS', 'name': 'Mark Vande Hei'},
  {'craft': 'ISS', 'name': 'Pyotr Dubrov'},
  {'craft': 'ISS', 'name': 'Thomas Pesquet'},
  {'craft': 'ISS', 'name': 'Megan McArthur'},
  {'craft': 'ISS', 'name': 'Shane Kimbrough'},
  {'craft': 'ISS', 'name': 'Akihiko Hoshide'},
  {'craft': 'ISS', 'name': 'Anton Shkaplerov'},
  {'craft': 'Shenzhou 13', 'name': 'Zhai Zhigang'},
  {'craft': 'Shenzhou 13', 'name': 'Wang Yaping'},
  {'craft': 'Shenzhou 13', 'name': 'Ye Guangfu'}],
 'message': 'success'}

In [7]:
pd.json_normalize(response.json())

   number                                             people  message
0      10  [{'craft': 'ISS', 'name': 'Mark Vande Hei'}, {...  success

In [8]:
pd.json_normalize(response.json()['people'])

         craft              name
0          ISS    Mark Vande Hei
1          ISS      Pyotr Dubrov
2          ISS    Thomas Pesquet
3          ISS    Megan McArthur
4          ISS   Shane Kimbrough
5          ISS   Akihiko Hoshide
6          ISS  Anton Shkaplerov
7  Shenzhou 13      Zhai Zhigang
8  Shenzhou 13       Wang Yaping
9  Shenzhou 13        Ye Guangfu

In [ ]:
Recuerdas lo que hablamos de las fechas, en este caso tienes una respuesta en epoch.

In [9]:
import time
time.gmtime(1635099205)

time.struct_time(tm_year=2021, tm_mon=10, tm_mday=24, tm_hour=18, tm_min=13, tm_sec=25, tm_wday=6, tm_yday=297, tm_isdst=0)

In [10]:
response = requests.get('http://api.open-notify.org/iss-pass.json')
print(response.json())

{'message': 'failure', 'reason': 'Latitude must be specified'}

https://documenter.getpostman.com/view/12078866/T1Dv8aWS#6cdb5274-3ed2-42ca-9e64-4f7771afdfe4

In [11]:
query = {'lat':'50', 'lon':'120'}
response = requests.get('http://api.open-notify.org/iss-pass.json', params=query)
print(response.json())

{'message': 'success', 'request': {'altitude': 100, 'datetime': 1635100374, 'latitude': 50.0, 'longitude': 120.0, 'passes': 5}, 'response': [{'duration': 186, 'risetime': 1635101815}, {'duration': 595, 'risetime': 1635107353}, {'duration': 655, 'risetime': 1635113109}, {'duration': 655, 'risetime': 1635118924}, {'duration': 654, 'risetime': 1635124740}]}