In [1]:
import pandas as pd

iniciemos con un archivo de ejemplo qeu provee Stata sobre gastos de hogares en méxico.

In [2]:
dtafile = 'gastospersona.dta'

DTAdf = pd.read_stata(dtafile)
DTAdf.head()

,folioviv,foliohog,numren,clave,tipo_gasto,mes_dia,frec_rem,inst,forma_pag1,forma_pag2,forma_pag3,inscrip,colegia,material,cantidad,gasto,costo,gasto_tri,gasto_nm,gas_nm_tri
0,0100003802,1,02,J002,G4,0000,9,,00,00,00,NaN,NaN,NaN,NaN,NaN,35000.0,NaN,35000.0,34239.13
1,0100068004,1,05,A202,G4,1108,6,,00,00,00,NaN,NaN,NaN,1.0,NaN,50.0,NaN,50.0,642.85
2,0100068004,1,05,A202,G4,1109,6,,00,00,00,NaN,NaN,NaN,1.0,NaN,50.0,NaN,50.0,642.85
3,0100068004,1,05,A202,G4,1110,6,,00,00,00,NaN,NaN,NaN,1.0,NaN,50.0,NaN,50.0,642.85
4,0100068004,1,05,A202,G4,1111,6,,00,00,00,NaN,NaN,NaN,1.0,NaN,50.0,NaN,50.0,642.85

In [3]:
DTAdf

,folioviv,foliohog,numren,clave,tipo_gasto,mes_dia,frec_rem,inst,forma_pag1,forma_pag2,forma_pag3,inscrip,colegia,material,cantidad,gasto,costo,gasto_tri,gasto_nm,gas_nm_tri
0,0100003802,1,02,J002,G4,0000,9,,00,00,00,NaN,NaN,NaN,NaN,NaN,35000.0,NaN,35000.0,34239.13
1,0100068004,1,05,A202,G4,1108,6,,00,00,00,NaN,NaN,NaN,1.0,NaN,50.0,NaN,50.0,642.85
2,0100068004,1,05,A202,G4,1109,6,,00,00,00,NaN,NaN,NaN,1.0,NaN,50.0,NaN,50.0,642.85
3,0100068004,1,05,A202,G4,1110,6,,00,00,00,NaN,NaN,NaN,1.0,NaN,50.0,NaN,50.0,642.85
4,0100068004,1,05,A202,G4,1111,6,,00,00,00,NaN,NaN,NaN,1.0,NaN,50.0,NaN,50.0,642.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377008,3260801214,1,01,B004,G1,0823,,,00,00,00,NaN,NaN,NaN,NaN,100.0,NaN,1285.71,NaN,NaN
377009,3260801218,1,01,B004,G1,0824,,,00,00,00,NaN,NaN,NaN,NaN,40.0,NaN,514.28,NaN,NaN
377010,3260801218,1,01,B004,G1,0823,,,00,00,00,NaN,NaN,NaN,NaN,30.0,NaN,385.71,NaN,NaN
377011,3260801218,1,01,B004,G1,0821,,,00,00,00,NaN,NaN,NaN,NaN,50.0,NaN,642.85,NaN,NaN
377012,3260801323,1,01,B004,G1,0902,,,00,00,00,NaN,NaN,NaN,NaN,30.0,NaN,385.71,NaN,NaN

In [4]:
DTAdf.dtypes

folioviv       object
foliohog       object
numren         object
clave          object
tipo_gasto     object
mes_dia        object
frec_rem       object
inst           object
forma_pag1     object
forma_pag2     object
forma_pag3     object
inscrip       float64
colegia       float64
material      float64
cantidad      float64
gasto         float64
costo         float64
gasto_tri     float64
gasto_nm      float64
gas_nm_tri    float64
dtype: object

Pasemos ahora a los archivos de SAS - Este es un ejemplo muy sencillo de una tabla

In [4]:
SASdf = pd.read_sas('sales.sas7bdat')

In [5]:
SASdf.head()

     YEAR     P           S
0  1950.0  12.9  181.899994
1  1951.0  11.9  245.000000
2  1952.0  10.7  250.199997
3  1953.0  11.3  265.899994
4  1954.0  11.2  248.500000

In [6]:
SASdf.dtypes

YEAR    float64
P       float64
S       float64
dtype: object

Por último archivos de SPSS
Para evitar el error 
Missing optional dependency 'pyreadstat'.  Use pip or conda to install pyreadstat.
Debes instalar esta librería

Usaremos un ejemplo de ventas de gasolina

In [8]:
!pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.1.3-cp38-cp38-win_amd64.whl (1.3 MB)
Requirement already satisfied: pandas>0.24.0 in c:\users\julia\anaconda3\lib\site-packages (from pyreadstat) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\julia\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\julia\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\julia\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\julia\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>0.24.0->pyreadstat) (1.15.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.1.3

In [9]:
import pyreadstat

In [10]:
SPSSdf = pd.read_spss('gasoline_sales.sav')

In [11]:
SPSSdf

    week  sales
0    1.0   17.0
1    2.0   21.0
2    3.0   19.0
3    4.0   23.0
4    5.0   18.0
5    6.0   16.0
6    7.0   20.0
7    8.0   18.0
8    9.0   22.0
9   10.0   20.0
10  11.0   15.0
11  12.0   22.0

In [12]:
SPSSdf.dtypes

week     float64
sales    float64
dtype: object