In [1]:
import pandas as pd
import json  
from pandas.io.json import json_normalize

Iniciemos con un archivo sencillo en formato JSON sin información anidada

In [2]:
ArchivoSimple = pd.read_json('simpleSample.json')

In [3]:
ArchivoSimple

                                              people
0  {'firstName': 'Joe', 'lastName': 'Jackson', 'g...
1  {'firstName': 'James', 'lastName': 'Smith', 'g...
2  {'firstName': 'Emily', 'lastName': 'Jones', 'g...

In [4]:
type(ArchivoSimple)

pandas.core.frame.DataFrame

Pese a ser un DataFrame el resultado se parece más a un diccionario.
Para obtener un DataFrame legible debemos pasarlo por la función normalize seleccionando la columna people.

In [5]:
f = open('simpleSample.json')
ArchivoSimple = json.load(f)
pd.json_normalize(ArchivoSimple['people'])

  firstName lastName  gender  age      number
0       Joe  Jackson    male   28  7349282382
1     James    Smith    male   32  5678568567
2     Emily    Jones  female   24   456754675

Que sucede si el archivo JSON tiene información anidada.

Tendremos que hacer uso de la selección de datos dentro de un dataframe para extraer lo que necesitamos.

Que sucede si incluimos otro nivel de anidación

In [6]:
SuperComplex = pd.read_json('SuperComplex.json')

In [7]:
SuperComplex

,id,type,name,ppu,batters,topping
0,1,donut,Cake,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'},...","[{'id': '5001', 'type': 'None'}, {'id': '5002'..."
1,2,donut,Raised,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'}]}","[{'id': '5001', 'type': 'None'}, {'id': '5002'..."
2,3,donut,Old Fashioned,0.55,"{'batter': [{'id': '1001', 'type': 'Regular'},...","[{'id': '5001', 'type': 'None'}, {'id': '5002'..."

In [8]:
SuperComplex['name']

0             Cake
1           Raised
2    Old Fashioned
Name: name, dtype: object

In [9]:
SuperComplex['batters']

0    {'batter': [{'id': '1001', 'type': 'Regular'},...
1      {'batter': [{'id': '1001', 'type': 'Regular'}]}
2    {'batter': [{'id': '1001', 'type': 'Regular'},...
Name: batters, dtype: object

De nuevo tendremos que hacer uso de la función normalize para extraer información en forma de dataframe.

In [10]:
f = open('SuperComplex.json')
anidado = json.load(f)

In [11]:
anidado

[{'id': '0001',
  'type': 'donut',
  'name': 'Cake',
  'ppu': 0.55,
  'batters': {'batter': [{'id': '1001', 'type': 'Regular'},
    {'id': '1002', 'type': 'Chocolate'},
    {'id': '1003', 'type': 'Blueberry'},
    {'id': '1004', 'type': "Devil's Food"}]},
  'topping': [{'id': '5001', 'type': 'None'},
   {'id': '5002', 'type': 'Glazed'},
   {'id': '5005', 'type': 'Sugar'},
   {'id': '5007', 'type': 'Powdered Sugar'},
   {'id': '5006', 'type': 'Chocolate with Sprinkles'},
   {'id': '5003', 'type': 'Chocolate'},
   {'id': '5004', 'type': 'Maple'}]},
 {'id': '0002',
  'type': 'donut',
  'name': 'Raised',
  'ppu': 0.55,
  'batters': {'batter': [{'id': '1001', 'type': 'Regular'}]},
  'topping': [{'id': '5001', 'type': 'None'},
   {'id': '5002', 'type': 'Glazed'},
   {'id': '5005', 'type': 'Sugar'},
   {'id': '5003', 'type': 'Chocolate'},
   {'id': '5004', 'type': 'Maple'}]},
 {'id': '0003',
  'type': 'donut',
  'name': 'Old Fashioned',
  'ppu': 0.55,
  'batters': {'batter': [{'id': '1001', 'type': 'Regular'},
    {'id': '1002', 'type': 'Chocolate'}]},
  'topping': [{'id': '5001', 'type': 'None'},
   {'id': '5002', 'type': 'Glazed'},
   {'id': '5003', 'type': 'Chocolate'},
   {'id': '5004', 'type': 'Maple'}]}]

In [12]:
anidadoCompleto = pd.json_normalize(anidado)

In [13]:
anidadoCompleto

,id,type,name,ppu,topping,batters.batter
0,0001,donut,Cake,0.55,"[{'id': '5001', 'type': 'None'}, {'id': '5002'...","[{'id': '1001', 'type': 'Regular'}, {'id': '10..."
1,0002,donut,Raised,0.55,"[{'id': '5001', 'type': 'None'}, {'id': '5002'...","[{'id': '1001', 'type': 'Regular'}]"
2,0003,donut,Old Fashioned,0.55,"[{'id': '5001', 'type': 'None'}, {'id': '5002'...","[{'id': '1001', 'type': 'Regular'}, {'id': '10..."

In [14]:
topping = pd.json_normalize(anidado,record_path ='topping')

In [15]:
topping

      id                      type
0   5001                      None
1   5002                    Glazed
2   5005                     Sugar
3   5007            Powdered Sugar
4   5006  Chocolate with Sprinkles
5   5003                 Chocolate
6   5004                     Maple
7   5001                      None
8   5002                    Glazed
9   5005                     Sugar
10  5003                 Chocolate
11  5004                     Maple
12  5001                      None
13  5002                    Glazed
14  5003                 Chocolate
15  5004                     Maple