In [2]:
import pandas as pd

In [ ]:
Puedes descargar los componentes de este archivo de Kaggle.com

https://www.kaggle.com/arindam235/startup-investments-crunchbase?select=investments_VC.csv
    
Documentación de la función disponible en 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [4]:
Primerintento = pd.read_excel('investments_VC.xlsx')

,ID,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city
0,11000,/organization/data-expedition,Data Expedition,http://www.dataexpedition.com,|Media|File Sharing|Software|,File Sharing,-,operating,USA,OK,Oklahoma City,Norman
1,11001,/organization/data-impact,Data Impact,http://dataimpact.com,|Software|,Software,"50,00,000",acquired,USA,CA,Anaheim,Huntington Beach
2,11002,/organization/data-maid,Data Maid,http://www.datamaidapp.com,|Software|,Software,32.165,operating,BGR,NaN,Sofia,Sofia
3,11003,/organization/data-marketplace,Data Marketplace,http://www.datamarketplace.com,|Curated Web|,Curated Web,-,acquired,NaN,NaN,NaN,NaN
4,11004,/organization/data-physics-corporation,Data Physics Corporation,http://www.dataphysics.com,|Hardware + Software|,Hardware + Software,-,operating,USA,CA,SF Bay Area,San Jose
...,...,...,...,...,...,...,...,...,...,...,...,...
38434,49434,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,"3,20,000",operating,GBR,NaN,London,London
38435,49435,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"15,87,301",operating,CHN,NaN,Beijing,Beijing
38436,49436,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,97.398,operating,HRV,NaN,Split,Split
38437,49437,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,"93,00,000",operating,NaN,NaN,NaN,NaN
38438,49438,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"4,50,00,000",operating,USA,NY,New York City,New York

In [12]:
xl = pd.ExcelFile('investments_VC.xlsx')

xl.sheet_names

['DetallesEmpresa', 'MontosRecaudados', 'FechasRelevantes']

In [11]:
xl.sheet_names  # see all sheet names

['DetallesEmpresa', 'MontosRecaudados', 'FechasRelevantes']

In [16]:
Segundointento = pd.read_excel('investments_VC.xlsx', sheet_name='MontosRecaudados')

In [17]:
Segundointento.head()

,ID,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,11000,2.0,2000-02-01 00:00:00,2000-02,2000-Q1,2000.0,2000-01-01 00:00:00,2006-01-01 00:00:00
1,11001,1.0,NaN,NaN,NaN,NaN,2010-09-20 00:00:00,2010-09-20 00:00:00
2,11002,1.0,2013-10-01 00:00:00,2013-10,2013-Q4,2013.0,2013-09-18 00:00:00,2013-09-18 00:00:00
3,11003,1.0,2010-01-01 00:00:00,2010-01,2010-Q1,2010.0,2010-03-02 00:00:00,2010-03-02 00:00:00
4,11004,1.0,1984-01-01 00:00:00,1984-01,1984-Q1,1984.0,2014-02-11 00:00:00,2014-02-11 00:00:00