## PRACTICA GUIADA

### PARTE I: Limpieza y transformación de datos

Esta práctica se propone brindar un catálogo de métodos y funciones en Pandas y Pyhton que podrán ser útiles a la hora de encarar tareas de limpieza de datos. 

En general, podemos identificar seis tipos de tareas u operaciones que aplicamos a los datos en la etapa de limpieza.

1. Estandarización de categorías (homogeneización)
2. Resolución de problemas de formato
3. Asignación de formatos adecuados (dtype)
4. Corrección de valores erróneos
5. Completar datos faltantes (missing data imputation)
6. Organización correcta del dataset (tidy data)

Las funciones y métodos presentados abarcan una o varias de estas operaciones.

### Remover duplicados

In [3]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4,
                  'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

* `duplicated()` devuelve un booleano identificando los casos duplicados.
* `drop_duplicates()` devuelve el `DataFrame` sin los casos duplicados

In [ ]:
data.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [ ]:
# Podemos definir algunos parámetros:

data.duplicated(['k1'],keep='last')

0     True
1     True
2    False
3     True
4     True
5     True
6    False
dtype: bool

In [ ]:
data.drop_duplicates()

    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

In [ ]:
data[~data.duplicated()] == data.drop_duplicates()

     k1    k2
0  True  True
2  True  True
3  True  True
5  True  True

* Se puede utilizar `drop_duplicates()` para eliminar duplicados en una sola columna o en un set de columnas.

In [ ]:
data['k3'] = range(7)
data

    k1  k2  k3
0  one   1   0
1  one   1   1
2  one   2   2
3  two   3   3
4  two   3   4
5  two   4   5
6  two   4   6

In [ ]:
data.drop_duplicates(['k1'])

    k1  k2  k3
0  one   1   0
3  two   3   3

In [ ]:
data.drop_duplicates(['k1', 'k2'])

    k1  k2  k3
0  one   1   0
2  one   2   2
3  two   3   3
5  two   4   5

### Mapear y transformar los datos
A partir de un diccionario, se puede crear una nueva columna para un Dataframe donde las claves del mismo se vinculen con una de las series y los valores formen parte de la nueva columna.

In [3]:
data = pd.DataFrame({'platos': ['panceta', 'bondiola', 'panceta', 'Pastrami',
                           'pavita', 'Panceta', 'pastrami', 'jamon crudo',
                           'nova lox'],
                  'peso': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

        platos  peso
0      panceta   4.0
1     bondiola   3.0
2      panceta  12.0
3     Pastrami   6.0
4       pavita   7.5
5      Panceta   8.0
6     pastrami   3.0
7  jamon crudo   5.0
8     nova lox   6.0

In [7]:
data.platos.unique()

array(['panceta', 'bondiola', 'pastrami', 'pavita', 'jamon crudo',
       'nova lox'], dtype=object)

* La idea es ahora poder asignar a cada `plato` un determinado `animal`. Una opción es hacerlo con los métodos `.map()` o `.apply()`.

Repaso:

    1)  pd.DataFrame.apply: Opera sobre filas o columnas completas
    2)  pd.DataFrame.applymap: Opera sobre cada uno de los elementos del Dataframe
    3)  pd.Series.apply: Opera sobre cada uno de los elementos de la Serie. 
    4)  pd.Series.map: Opera sobre cada uno de los elementos de la Serie, muy similar a Series.apply. Una diferencia importante es que map puede recibir una serie o un diccionario, además de una función.

In [5]:
plato_a_animal = {
  'panceta': 'cerdo',
  'bondiola': 'cerdo',
  'pastrami': 'vaca',
  'pavita': 'pavo',
  'jamon crudo': 'cerdo',
  'nova lox': 'salmon'
}

In [6]:
data['platos'] = data['platos'].map(str.lower)
data['animal'] = data['platos'].map(plato_a_animal)
data

        platos  peso  animal
0      panceta   4.0   cerdo
1     bondiola   3.0   cerdo
2      panceta  12.0   cerdo
3     pastrami   6.0    vaca
4       pavita   7.5    pavo
5      panceta   8.0   cerdo
6     pastrami   3.0    vaca
7  jamon crudo   5.0   cerdo
8     nova lox   6.0  salmon

* Podríamos también pasar una función que haga todo en un solo paso:

In [ ]:
data['platos'].map(lambda x: plato_a_animal[x.lower()])

0     cerdo
1     cerdo
2     cerdo
3      vaca
4      pavo
5     cerdo
6      vaca
7     cerdo
8    salmon
Name: platos, dtype: object

* En este caso, funciona también con Series.apply():

In [ ]:
data['platos'].apply(lambda x: plato_a_animal[x.lower()])

0     cerdo
1     cerdo
2     cerdo
3      vaca
4      pavo
5     cerdo
6      vaca
7     cerdo
8    salmon
Name: platos, dtype: object

### Reemplazar valores
El método data.replace() ofrece varias formas de efectuar reemplazos sobre una serie de Pandas:
    1- Un valor viejo por un valor nuevo.
    2- Una lista de valores viejos por un valor nuevo.
    3- Una lista de valores viejos por una lista de valores nuevos.
    4- Un diccionario que mapee valores nuevos y viejos.

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [ ]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [ ]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

* Podemos hacer `replace` diferentes usando una lista de listas...

In [ ]:
data.replace([-999, -1000], [0, np.nan])

0    1.0
1    0.0
2    2.0
3    0.0
4    NaN
5    3.0
dtype: float64

* ... O usando un `dict`

In [ ]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [8]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                    'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})

df

   A  B  C
0  0  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [9]:
df.replace(0, 5)

   A  B  C
0  5  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [10]:
df.replace([0, 1, 2, 3], 4)

   A  B  C
0  4  5  a
1  4  6  b
2  4  7  c
3  4  8  d
4  4  9  e

In [11]:
df.replace({'A': 0, 'B': 5}, 100)

     A    B  C
0  100  100  a
1    1    6  b
2    2    7  c
3    3    8  d
4    4    9  e

Se pueden usar expresiones regulares:

In [ ]:
df_re = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
                      'B': ['abc', 'bar', 'xyz']})

df_re

      A    B
0   bat  abc
1   foo  bar
2  bait  xyz

In [ ]:
df_re.replace(to_replace=r'^ba.$', value='new', regex=True)

      A    B
0   new  abc
1   foo  new
2  bait  xyz

In [ ]:
df_re.replace(to_replace=r'^ba.+$', value='new', regex=True)

     A    B
0  new  abc
1  foo  new
2  new  xyz

In [ ]:
df_re.replace({'A': r'^ba.$'}, 'new', regex=True)

In [ ]:
df_re.replace(regex={r'^ba.$': 'new', 'foo': 'xyz'})

### Renombrar índices de los ejes

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                 index=['Buenos Aires', 'Cordoba', 'Mendoza'],
                 columns=['uno', 'dos', 'tres', 'cuatro'])
data

              uno  dos  tres  cuatro
Buenos Aires    0    1     2       3
Cordoba         4    5     6       7
Mendoza         8    9    10      11

In [ ]:
data.index = data.index.map(str.upper)
data

              uno  dos  tres  cuatro
BUENOS AIRES    0    1     2       3
CORDOBA         4    5     6       7
MENDOZA         8    9    10      11

In [ ]:
data.rename(index=str.title, columns=str.upper)

# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.title.html

              UNO  DOS  TRES  CUATRO
Buenos Aires    0    1     2       3
Cordoba         4    5     6       7
Mendoza         8    9    10      11

In [ ]:
data

              uno  dos  tres  cuatro
BUENOS AIRES    0    1     2       3
CORDOBA         4    5     6       7
MENDOZA         8    9    10      11

In [ ]:
data.rename(index={'CORDOBA': 'SANTA FE'},
            columns={'tres': 'ocho'})

              uno  dos  ocho  cuatro
BUENOS AIRES    0    1     2       3
SANTA FE        4    5     6       7
MENDOZA         8    9    10      11

In [ ]:
data

In [ ]:
data.rename(index={'CORDOBA': 'SANTA FE'}, inplace=True)
data

### Discretizar y binarizar variables
El proceso de transformar una variable numérica en categórica se llama discretización.

In [1]:
ages = [26, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32, 25, 60]

* El método `cut` devuelve el intervalo semi-cerrado al que pertenece cada entrada

In [4]:
# Defino los valores de corte
bins = [18, 25, 35, 60, 100]

# Obtengo una lista de intervalos
cats = pd.cut(ages, bins)
cats

[(25, 35], (18, 25], (18, 25], (25, 35], (18, 25], ..., (35, 60], (35, 60], (25, 35], (18, 25], (35, 60]]
Length: 14
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [5]:
type(cats)

pandas.core.arrays.categorical.Categorical

* El atributo `codes` representa el indice en la lista 'cats'  del intervalo al que pertenece cada entrada

In [6]:
cats.codes

array([1, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1, 0, 2], dtype=int8)

In [7]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     4
(35, 60]     4
(60, 100]    1
dtype: int64

In [8]:
pd.value_counts(cats.codes)

0    5
1    4
2    4
3    1
dtype: int64

In [9]:
# Podemos modificar la inclusión del valor de corte en los intervalos
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[26, 36), [18, 26), [18, 26), [26, 36), [18, 26), ..., [36, 61), [36, 61), [26, 36), [18, 26), [36, 61)]
Length: 14
Categories (4, interval[int64, left]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [10]:
# Podemos asignar etiquetas a las categorías
group_names = ['Joven', 'Joven Adulto', 'Adulto', 'Senior']
cats.categories = group_names
cats

C:\Users\n_sar\AppData\Local\Temp\ipykernel_2836\566673498.py:3: FutureWarning: Setting categories in-place is deprecated and will raise in a future version. Use rename_categories instead.
  cats.categories = group_names

['Joven Adulto', 'Joven', 'Joven', 'Joven Adulto', 'Joven', ..., 'Adulto', 'Adulto', 'Joven Adulto', 'Joven', 'Adulto']
Length: 14
Categories (4, object): ['Joven' < 'Joven Adulto' < 'Adulto' < 'Senior']

In [11]:
cats.value_counts()

Joven           5
Joven Adulto    4
Adulto          4
Senior          1
dtype: int64

* También es posible asignar nombres (etiquetas) a los intervalos generados. Puede hacerse a partir del parámetro `labels=`

In [12]:
pd.cut(ages, [18, 25, 35, 60, 100], labels=['Joven', 'Joven Adulto', 'Adulto', 'Senior'])

['Joven Adulto', 'Joven', 'Joven', 'Joven Adulto', 'Joven', ..., 'Adulto', 'Adulto', 'Joven Adulto', 'Joven', 'Adulto']
Length: 14
Categories (4, object): ['Joven' < 'Joven Adulto' < 'Adulto' < 'Senior']

* Qué sucede con el órden de las etiquetas?

In [13]:
serie_ages = pd.cut(ages, bins, labels=group_names)
serie_ages.value_counts()

Joven           5
Joven Adulto    4
Adulto          4
Senior          1
dtype: int64

### Cuantiles en lugar de intervalos preestablecidos

In [14]:
# Divido en cuantiles, en este caso 10
data = np.random.randn(1000)
qcats = pd.qcut(data, 5) 
qcats

[(-0.855, -0.287], (0.843, 3.089], (0.235, 0.843], (-0.287, 0.235], (-3.234, -0.855], ..., (-3.234, -0.855], (0.235, 0.843], (0.843, 3.089], (-0.855, -0.287], (0.843, 3.089]]
Length: 1000
Categories (5, interval[float64, right]): [(-3.234, -0.855] < (-0.855, -0.287] < (-0.287, 0.235] < (0.235, 0.843] < (0.843, 3.089]]

In [15]:
qcats.value_counts()

(-3.234, -0.855]    200
(-0.855, -0.287]    200
(-0.287, 0.235]     200
(0.235, 0.843]      200
(0.843, 3.089]      200
dtype: int64

### Detectar y filtrar outliers
No existe un criterio que sea válido en todos los casos para identificar los outliers. El criterio de mayor que el tercer cuartil más 1.5 veces el rango intercuartil o menor que el primer cuartil menos 1.5 veces el rango intercuartil surge de la distribución normal. En esa distribución el 99.7% de la población se encuentra en el rango definido por la media (poblacional) más menos 3 veces el desvío estándar (poblacional)

In [16]:
np.random.seed(12345)
data = pd.DataFrame(np.random.randn(1000, 4))
data.sample(5)

            0         1         2         3
565  1.502867 -1.400992  1.105131 -1.123506
193  2.666744  1.451456  0.634629 -0.502827
333  0.718409 -1.929776  2.527939  0.731370
767 -0.017749 -1.595617 -1.387784  0.327248
576 -0.442164  1.284845  0.801260  1.025196

In [17]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [18]:
col = data[3]
col[np.abs(col) > 3]
#en este caso la media poblacional es 0 y el desvío es 1 entonces el criterio mencionado anteriormente 
# marcaría como outliers a los valores mayores que 3 o menores que -3
#col[np.abs(col) > 3 * np.std(col)]

97     3.927528
305   -3.399312
400   -3.745356
Name: 3, dtype: float64

In [19]:
# Listamos aquellos que no son outliers
data[~(np.abs(data) > 3).any(axis=1)].head()

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570

In [20]:
len(data[~(np.abs(data) > 3).any(axis=1)])

989

In [21]:
# Listamos las filas que tienen elementos que están en los extremos de la distribución
data[(np.abs(data) > 3).any(1)]

C:\Users\n_sar\AppData\Local\Temp\ipykernel_2836\2308359469.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  data[(np.abs(data) > 3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

In [22]:
# Acota el rango de la muestra
# Convierte los valores extremos a esos puntos de referencia
 
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067623     0.068473     0.025153    -0.002081
std       0.995485     0.990253     1.003977     0.989736
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.000000     2.653656     3.000000     3.000000

### PARTE II: Variables categóricas y Dummies
Pandas cuenta con el método pd.get_dummies() que recibe una Serie o una lista de Series y realiza el one hot encoding.

Recordemos que una variable con k categorías se puede representar con k-1 variables.

Por eso un parámetro clave de pd.get_dummies es drop_first = True que genera k-1 categorías en lugar de k.

In [23]:
df = pd.DataFrame({'cat_producto': ['b', 'b', 'a', 'c', 'a', 'b'],
                'cod_venta': np.arange(100, 112, 2)})
df

  cat_producto  cod_venta
0            b        100
1            b        102
2            a        104
3            c        106
4            a        108
5            b        110

In [24]:
pd.get_dummies(df['cat_producto'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [25]:
# Agregamos un prefijo para identificar la categoría
pd.get_dummies(df['cat_producto'], prefix='cat_producto')

   cat_producto_a  cat_producto_b  cat_producto_c
0               0               1               0
1               0               1               0
2               1               0               0
3               0               0               1
4               1               0               0
5               0               1               0

In [26]:
dummies = pd.get_dummies(df['cat_producto'], prefix='cat_producto',
                         drop_first=True)
dummies

   cat_producto_b  cat_producto_c
0               1               0
1               1               0
2               0               0
3               0               1
4               0               0
5               1               0

In [27]:
# Concatenamos la columna cod_venta
df_with_dummy = df[['cod_venta']].join(dummies)
df_with_dummy

   cod_venta  cat_producto_b  cat_producto_c
0        100               1               0
1        102               1               0
2        104               0               0
3        106               0               1
4        108               0               0
5        110               1               0

## Manipulación de strings

### String object methods

* `split()` toma un string, lo divide en función de un delimitador (`sep`) y devuelve una lista

In [30]:
val = 'a,b,  guido, asjd, kle'
val.split(',')

['a', 'b', '  guido', ' asjd', ' kle']

* `strip()` toma un string y devuelve un string sin los espacios iniciales y finales.

In [28]:
# Ejemplos:

texto = "   Este es el primer ejemplo....wow!!!   ";
print(texto.strip())

texto1 = "0000000Este es el segundo ejemplo....wow!!!0000000";
print(texto1.strip( '0' ))

Este es el primer ejemplo....wow!!!
Este es el segundo ejemplo....wow!!!

In [31]:
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido', 'asjd', 'kle']

* `find()` devuelve el índice más bajo dentro de un string en el cual un substring es encontrado. Devuelve -1 si no la encuentra

In [32]:
val.find(':')

-1

In [33]:
val.find('b')

2

* `index()` es similar, pero devuelve un `ValueError` cuando no encuentra el substring buscado

In [34]:
val.index(',')

1

In [35]:
# Genera un error si no encuentra el substring

try:
    val.index(':')
except:
    print("Error, substring no encontrado!")

Error, substring no encontrado!

* `count()` cuenta la ocurrencia de un substring determinado en un string mayor.

In [36]:
val.count(',')

4

* `replace()` reemplaza un substring por otro.

In [37]:
val.replace(',', ';')

'a;b;  guido; asjd; kle'

### Funciones vectorizadas para strings en Pandas

In [38]:
import re
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}

data = pd.Series(data)

In [39]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [40]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [41]:
pattern = r'\w+'

In [42]:
data.str.findall(pattern, flags=re.IGNORECASE)[0][-1]

'com'

In [43]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

### Ejemplo: Dataset movies

In [44]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv('movies.csv', header=None,
                        names=mnames, encoding="latin9", sep=';')
movies[:10]

FileNotFoundError: [Errno 2] No such file or directory: 'movies.csv'

In [ ]:
lista = [sublista.split('|') for sublista in movies.genres]
lista[:10]

In [ ]:
# Aplanamos la lista anterior
genres = sorted(set([item for s in lista for item in s]))
genres

In [ ]:
# Creamos un DataFrame vacío para asociar los géneros correspondientes a cada película
dummies = pd.DataFrame(np.zeros((len(movies), len(genres)), dtype=int), columns=genres)
dummies.head()

In [ ]:
# Codifica las categorías como dummies. Escribe un 1 donde corresponde
for i, gen in enumerate(movies.genres):
    dummies.loc[i, gen.split('|')] = 1

In [ ]:
dummies.head()

In [ ]:
movies_final = movies.join(dummies.add_prefix('Genre_'))
movies_final.head()