## Ejercicio Diccionario

In [4]:
# Con un número entero n dado, escribir un programa para generar un diccionario que contenga:(i, i*i) tal que sea un número entero entre 1 y n (ambos incluidos). 
# Escribir el diccionario en pantalla (Ejem: si se escribe 8, la salida debería ser: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
n = int(input("Ingrese un número: "))
#print(f"El diccionario del número es  {n * n}")
# Inicializo el diccionario vacío:
diccionario = {}
# Calculo el producto de los 8 primeros números
producto = 1
for i in range(1, 9):
    producto *= i
#print(f"El diccionario del número es  {n * n}")    
print(f"n {n * n}")
# Agrego el resultado al diccionario con una clave descriptiva
diccionario['producto de los 8 primeros números'] = producto
# Imprimir el diccionario para verificar su contenido
print(diccionario)

n 25
{'producto de los 8 primeros números': 40320}

### Convertir dict en dataframe
Para convertir un diccionario en un DataFrame de pandas, puede utilizar el método pd.DataFrame.from_dict(). Este método toma como argumento el diccionario que desea convertir y, opcionalmente, especifica cómo se deben interpretar las claves y los valores del diccionario. Ejemplo:

In [1]:
import pandas as pd
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 32, 19],
        'city': ['New York', 'Los Angeles', 'Chicago']}

df = pd.DataFrame.from_dict(data)
print(df)

data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

# Esto generaría un DataFrame con las columnas 'name',
# 'age' y 'city' y las filas correspondientes a las entradas del diccionario.

      name  age         city
0    Alice   25     New York
1      Bob   32  Los Angeles
2  Charlie   19      Chicago

Otra forma de hacerlo es:

In [2]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 32, 19],
        'city': ['New York', 'Los Angeles', 'Chicago']}

df = pd.DataFrame.from_dict(data, orient='index', columns=['A','B','C'])
print(df)
# Esto generaria un DataFrame con las columnas 'A','B','C' y
# las filas correspondientes a las claves del diccionario.

             A            B        C
name     Alice          Bob  Charlie
age         25           32       19
city  New York  Los Angeles  Chicago

***

## Obtener la media de las columnas de un dataframe

En Pandas, puedes utilizar el método mean() del dataframe. Este método devuelve un nuevo dataframe con las medias de cada columna.

Puedes utilizar el método mean() en una columna específica del dataframe si deseas obtener la media solo de esa columna. Por ejemplo, si tienes una columna llamada "valor" en el dataframe, puedes obtener su media de la siguiente manera:

mean_valor = df["valor"].mean()

Si quieres obtener la media de todas las columnas numericas, puedes utilizar el método mean() en el dataframe sin especificar ninguna columna.

mean_df = df.mean()

In [4]:
# Ejemplo de dataframe numérico de 5 columnas

# Crear un diccionario con los datos
data = {'col_1': [1, 2, 3, 4, 5],
        'col_2': [6, 7, 8, 9, 10],
        'col_3': [11, 12, 13, 14, 15],
        'col_4': [16, 17, 18, 19, 20],
        'col_5': [21, 22, 23, 24, 25]}

# Crear el dataframe
df = pd.DataFrame(data)

# Mostrar el dataframe
print(df)

mean_df = df.mean()
mean_df

   col_1  col_2  col_3  col_4  col_5
0      1      6     11     16     21
1      2      7     12     17     22
2      3      8     13     18     23
3      4      9     14     19     24
4      5     10     15     20     25

col_1     3.0
col_2     8.0
col_3    13.0
col_4    18.0
col_5    23.0
dtype: float64

## Obtener la media de las filas de un dataframe

Para obtener la media de las filas de un dataframe en Pandas, puedes utilizar el método mean(axis=1) en el dataframe. El parámetro axis=1 indica que se deben calcular las medias en las filas en lugar de en las columnas.

In [5]:
mean_df = df.mean(axis=1)
mean_df

0    11.0
1    12.0
2    13.0
3    14.0
4    15.0
dtype: float64

In [6]:
# Agregar la media como una última columna añadida
df["media"] = df.mean(axis=1)
df

   col_1  col_2  col_3  col_4  col_5  media
0      1      6     11     16     21   11.0
1      2      7     12     17     22   12.0
2      3      8     13     18     23   13.0
3      4      9     14     19     24   14.0
4      5     10     15     20     25   15.0